
html {
	font-family: "Quicksand", sans-serif;
	font-size: 18px;
}

body {
	margin:0;
}

h1 {
	margin: 0 auto;
	text-align: center;
	font-size: 70px;
	color: #000;
	width: fit-content;
	padding: 8px;
	transition: 0.1s;
    font-weight: 700;

    -webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}

h2 {
	margin: 0 auto;
	text-align: center;
	font-size: 40px;
	width: fit-content;
	padding: 8px;
	font-weight: 700;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}

h3 {
	font-size: 27px;
	margin-top: 40px;
	margin-bottom: 5px;
	font-weight: 700;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}

a {
	color: #649c99;
    font-weight: 700;
}

p::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}

#header {
	background-image: url("background/background-header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #f7a08d;
	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.link {
	margin-top: -290px;
}

#index {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	margin: 0;
	background-color: #f7a08d;
	font-size: 20px;
	z-index: 100;
}

#index ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
    width: fit-content;
    width: -moz-fit-content;
}

#index li {
	display: inline-block;
	padding: 20px 10px;
}

#index a {
	color: #fff;
	text-decoration: none;
}

#index li:hover {
	background: #e69482;
}


#people {
	padding: 5px 0 50px 0;
	overflow: hidden;
	width: fit-content;
	width: -moz-fit-content;
	margin: 0 auto;
	transition: 0.1s;
}

#people h2 {
	margin: 40px auto;
}

.person {
	width: 252px;
	/*margin-left: 50px;*/
	float: left;
	padding: 0 30px;
}

.person p {
	margin-top: 25px;
	font-size: 26px;
	text-align: center;
}

.person a {
	color: #000;
	text-decoration: none;
}

.circle {
	border-radius: 50%;
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
}

.square {
	height: 150px;
	width: 150px;
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
}

.header-section {
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #5c8601;
	width: 100%;
	height: 170px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
	margin: 40px auto;
	margin-bottom: 85px;
	width: 50%;
	text-align: justify;
}

#bottom {
	width: 100%;
	height: 50px;
	background: #f1f1f1;
	padding: 40px 0;
}






/************ RESPONSIVE  ************/

@media only screen and (max-width: 481px) {

h1 {
	font-size: 45px;
	background: #000;
	color: #fff;
}

h2 {
	font-size: 35px;
}

.header-section {
	height: 240px;
}

#index ul {
	overflow: scroll;
	white-space: nowrap;
	width: 100%;
}

.link {
	margin-top: -370px;
}

#people {
	padding: 0;
}

#people h2 {
	font-size: 30px;
}

.person {
	width: 200px;
	margin: 80px auto;
	float: none;
}

.person p {
	margin-top: 35px;
}

.text {
	margin: 40px auto;
	width: 100%;
	box-sizing: border-box;
	padding: 0 20px;
}
}


@media only screen and (min-width:481px) and (max-width: 961px) {

h1 {
	font-size: 65px;
	background: #000;
	color: #fff;
}

.header-section {
	height: 240px;
}

.link {
	margin-top: -370px;
}

.person {
	width: 200px;
}

.person p {
	margin-top: 58px;
}

.text {
	margin: 40px auto;
	width: 70%;
	box-sizing: border-box;
}
}
